[submodule "Drivers/libcxxcanard"]
	path = Drivers/libcxxcanard
	url = git@github.com:cyanidle/libcxxcanard.git
[submodule "Drivers/libvoltbro"]
	path = Drivers/libvoltbro
	url = git@github.com:cyanidle/libvoltbro.git
